body{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin:0;
    display:flex;
    flex-direction:column;
    align-items: center;  
    background-image:url("High-resolution\ abst.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
}

h1{
    font-size:5.8rem;
    color:balck;
    font-weight: bold;

}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size:8.5rem;
    width:200px;
    height:200px;
    margin:0 10px;
    border:3px solid;
    border-radius: 50%;
    cursor:pointer;
    background-color: rgb(9, 137, 234);
    transition: background-color 0.5 ease;
}


.choices button:hover{
   
    background-color: rgb(41, 150, 234);
   
}

#computerChoice, #playerChoice{

    margin:15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
}

#displayResult{

    font-size: 3.7rem;
    font-family:Arial, Helvetica, sans-serif;
    margin:15px;
    font-weight: bold;
}
.scoreDisplay{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.7rem;
    margin:5px;
    font-weight: bold;
}

.greenText , #playerScore{
    color:rgb(25, 239, 25);

}

.redText , #computerScore{
    color:rgb(251, 17, 17);

}